h1 {
	font-family: 'Montserrat', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
}

.interest-list > li {
	display: inline;
}

.interest-button {
	margin: 2px;
	box-shadow: 0px 1px 5px gray;
}

.interest-active {
	background-color: #5373B8;
}

.interest-inactive {
	background-color: #AABEE8;
}

.mh-green {
	background-color: #8CC63E;
}

.main-button {
	box-shadow: 0px 3px 10px #222;
}

#group-buttons {
	display: inline;
}

.dotted-underline {
	border-bottom: 2px dashed rgba(255, 255, 255, 1);
	-webkit-transition: border-bottom 0.5s ease-in-out;
    transition: border-bottom 0.5s ease-in-out;
}

.no-dotted-underline {
	border-bottom: 2px dashed rgba(255, 255, 255, 0);
}

#myHeader {
	-webkit-transition: height 0.3s; /* Safari 3.1 to 6.0 */
    transition: height 0.3s;
    position: relative;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    margin-left: calc(50% - 60px);
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.log-button {
	position: absolute;
}

.github-icon {
	background: url('GitHub-Mark-64px.png');
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    margin: 0px auto;
}

#github-link {
	text-decoration: none;
	float: right;
	color: #000;
}

.hacker-card {
	max-height: 570px;
	overflow-y: scroll;
	padding-top: 16px !important;
}

.hacker-card .icon {
	margin-bottom: 8px;
}

.icon {
	width: 100%;
	height: auto;
}

.card-interest {
	padding: 0;
}

.card-interest li {
	list-style-type: none;
}

.hackathon-button {
	box-shadow: 0px 2px 10px #222;
	margin: 2px;
}

.group-card {
	max-height: 200px;
}

.group-header {
	color: #fff;
	background-color: #5373B8;
	margin: 0px;
}

.group-subheader {
	color: #fff;
	background-color: #AABEE8;
	margin: 4px 0px;
}