h1 {
	font-family: 'Montserrat', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
}

.interest-list > li {
	display: inline;
}

.interest-button {
	margin: 2px;
}

.interest-active {
	background-color: #5373B8;
}

.interest-inactive {
	background-color: #AABEE8;
}